.div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    }

.square-a {
    width: 50px;
    height: 50px;
    background-color: brown;
    border: 15px brown;
    padding: 20px;
    margin: 20px;
    }

.square-b {
    width: 50px;
    height: 50px;
    background-color: green;
    border: 15px green;
    padding: 20px;
    margin: 20px;
    }

.square-c {
    width: 50px;
    height: 50px;
    background-color: yellow;
    border: 15px yellow;
    padding: 20px;
    margin: 20px;
            }

.square-d {
    width: 50px;
    height: 50px;
    background-color: yellow;
    border: 15px yellow;
    padding: 20px;
    margin: 20px;
                        }

.square-e {
    width: 50px;
    height: 50px;
    background-color: yellow;
    border: 15px yellow;
    padding: 20px;
    margin: 20px;

