body {
    background-color: brown;
    display: flex;
    flex-direction: row;
    /*justify-content: center;
    align-items: center;*/
    
}

/*"Screens are minimum of 100vh", how does that affect my code? what should  write?*/

.section-one {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 468px;
    height: 160px;
    background-color: #F48C06;
    margin: 20px; 
    border-radius: 5px;
    }

    .square-a {
        width: 80px;
        height: 80px;
        background-color: #9D0208;
        border: 15px#9D0208;
        margin: 7px;
        border-radius: 5px;
        }

    .square-b {
        width: 80px;
        height: 80px;
        background-color: #9D0208;
        border: 15px#9D0208;
        margin: 7px;
        border-radius: 5px;
        }
    .square-c {
        width: 80px;
        height: 80px;
        background-color: #9D0208;
        border: 15px#9D0208;
        margin: 7px;
        border-radius: 5px;
        }
.section-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 468px;
    height: 160px;
    background-color: #F48C06;
    margin: 20px; 
    
    border-radius: 5px;
    }
        
    .square-d {
        width: 80px;
        min-height: 80px;
        background-color: #9D0208;
        border: 15px#9D0208;
        margin: 15px 7px 15px 7px;
        border-radius: 5px;
        }        
    .square-e {
        width: 80px;
        min-height: 80px;
        background-color: #9D0208;
        border: 15px#9D0208;
        margin: 15px 7px 15px 7px;
        border-radius: 5px;
        }        
    .square-f {
        width: 80px;
        min-height: 80px;
        background-color: #9D0208;
        border: 15px#9D0208;
        margin: 15px 7px 15px 7px;
        border-radius: 5px;
        }        
        