body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1100px;
    background-color: brown;
}

/*
some questions...
On my screen I get tree sections in a row but it's suppos to be ust two. How can I do that?
"Screens are minimum of 100vh" was one instruction, how does that affect my code? what should  write?*/

.section-one {
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 468px;
    height: 160px;
    background-color: #F48C06;
    margin: 20px; 
    border-radius: 5px;
    }
    .square-a {
        width: 80px;
        height: 80px;
        background-color: #9D0208;
        border: 15px#9D0208;
        margin: 7px;
        border-radius: 5px;
        }
    .square-b {
        width: 80px;
        height: 80px;
        background-color: #9D0208;
        border: 15px#9D0208;
        margin: 7px;
        border-radius: 5px;
        }
    .square-c {
        width: 80px;
        height: 80px;
        background-color: #9D0208;
        border: 15px#9D0208;
        margin: 7px;
        border-radius: 5px;
        }

.section-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 468px;
    height: 160px;
    background-color: #F48C06;
    margin: 20px; 
    border-radius: 5px;
    }    
    .square-d {
        width: 80px;
        min-height: 80px;
        background-color: #9D0208;
        border: 15px#9D0208;
        margin: 15px 7px 15px 7px;
        border-radius: 5px;
        }        
    .square-e {
        width: 80px;
        min-height: 80px;
        background-color: #9D0208;
        border: 15px#9D0208;
        margin: 15px 7px 15px 7px;
        border-radius: 5px;
        }        
    .square-f {
        width: 80px;
        min-height: 80px;
        background-color: #9D0208;
        border: 15px#9D0208;
        margin: 15px 7px 15px 7px;
        border-radius: 5px;
        }

.section-tree {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 468px;
    height: 160px;
    background-color: #F48C06;
    margin: 20px; 
    border-radius: 5px;
    }       
    .square-g {
        width: 80px;
        height: 80px;
        background-color: #9D0208;
        border: 15px#9D0208;
        margin: 7px;
        border-radius: 5px;
        } 
    .square-h {
        width: 80px;
        height: 80px;
        background-color: #9D0208;
        border: 15px#9D0208;
        margin: 7px;
        border-radius: 5px;
        }
    .square-i {
        width: 80px;
        height: 80px;
        background-color: #9D0208;
        border: 15px#9D0208;
        margin: 7px;
        border-radius: 5px;
        }
        
.section-four {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 468px;
    height: 160px;
    background-color: #F48C06;
    margin: 20px; 
    border-radius: 5px;
            }       
    .square-j {
        width: 80px;
        height: 80px;
        background-color: #9D0208;
        border: 15px#9D0208;
        margin: 7px;
        border-radius: 5px;
        align-self: flex-start;
        } 
    .square-k {
        width: 80px;
        height: 80px;
        background-color: #9D0208;
        border: 15px#9D0208;
        margin: 7px;
        border-radius: 5px;
        align-self: flex-start;
        }
    .square-l {
        width: 80px;
        height: 80px;
        background-color: #9D0208;
        border: 15px#9D0208;
        margin: 7px;
        border-radius: 5px;
        align-self: flex-end;
        }

.section-five {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    width: 468px;
    height: 160px;
    background-color: #F48C06;
    margin: 20px; 
    border-radius: 5px;
    }   
    .text {                     /*don't work, neither does baseline*/
        align-self: center;
        justify-self: center;
    } 
    .square-m {
        width: 80px;
        min-height: 80px;
        background-color: #9D0208;
        border: 15px#9D0208;
        margin: 15px 7px 15px 7px;
        border-radius: 5px;
        color: white;
        }        
    .square-n {
        width: 80px;
        min-height: 80px;
        background-color: #9D0208;
        border: 15px#9D0208;
        margin: 15px 7px 15px 7px;
        border-radius: 5px;
        align-self: center;
        color: white;
        }        
    .square-o {
        width: 80px;
        min-height: 80px;
        background-color: #9D0208;
        border: 15px#9D0208;
        margin: 15px 7px 15px 7px;
        border-radius: 5px;
        color: white;
        }

.section-six {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 468px;
    height: 160px;
    background-color: #F48C06;
    margin: 20px; 
    border-radius: 5px;
    }    
    .square-p {
        width: 80px;
        min-height: 80px;
        background-color: #9D0208;
        border: 15px#9D0208;
        margin: 15px 7px 15px 7px;
        border-radius: 5px;
         }        
    .square-q {
        width: 80px;
        min-height: 80px;
        background-color: #9D0208;
        border: 15px#9D0208;
        margin: 15px 7px 15px 7px;
        border-radius: 5px;
        flex-grow:  2;      /* it looks to big!!*/
        }        
    .square-r {S
        width: 80px;
        min-height: 80px;
        background-color: #9D0208;
        border: 15px#9D0208;
        margin: 15px 7px 15px 7px;
        border-radius: 5px;
        }
           
        
        